@import "bootstrap/bootstrap.less";
@import "variables.less";

.p-line(@color) {
    text-align: center;
    min-height: 30px;
    background: @color;
    
}


.block(){
    border-top: 5px solid black;
    position: relative;
}
.block-inside() {
    height: 5px;
    background: @ueba-green;
    left:0px;
    width: 45px;
    position: absolute;
    margin-top: -5px;
    
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
 background: @bg-color-main;
 
}

.wrapper .header {
	height: @h;
	background-color : @header-bg; 

    }
.wrapper #imagine{
    background: @kol-bg;
   
}
.wrapper #imagine {
    img {
	    height: @h;
	    width: 270px;
            }
}

.wrapper .nav li:hover{
    background-color: @navbar-default-bg ;
    
   
}
.wrapper .nav a {text-transform: uppercase;
            font-size:  22px;
	    font-weight: 100;
	    font-family: "Abel" sans-serif;
    }

.wrapper .navbar {
    padding-left: @grid-gutter-width * 0.25 + 5.5;
    
}
.foxed {
    position: fixed; 
    top: 0; 
    height: 78px; 
    z-index: 1;
}

.line-widget{
    padding-bottom: 0;
    #greenline {
	.p-line(@ueba-green);
    }
    #blackline {
	.p-line(black);
    }
}


.block { 
     .block;
     margin-top:20px;
     margin-bottom: 0;
     background-color: white;
 }
 .border {.block-inside;}

.line {
    margin-top: 20px;
    margin-bottom:20px;}

.post {
    border-top: @post-line;
    margin-bottom: 30px;
    img {
	margin-bottom: 40px;
    }


    
    .category .cat {
	height:20px;
	

	 p{
	    
	    background:@category-color;
	    
	    position: absolute;
	    left: 0;
	    padding: 1px;
     
	    
	}
	
    }
    .category .share {
	

	 p{
	    
	    background: red;
	    
	    position: absolute;
	    right: 0;
	    padding: 1px;
     
	    
	}
	
    }

}