    <div class="naver row">
	
     <nav class="navbar navbar-default" id="navbar " >
       
       <ul class="nav navbar-nav">
         <li class="hidden-sm hidden-xs"><a href="{% url 'blog:index'%}">Home</a></li>
         <li class="hidden-sm hidden-xs"><a href="/categorys/">Categories</a></li>
         <li class="hidden-sm hidden-xs"><a href="/admin/">Services</a></li>
         <li><a href="/partners/">Partners</a></li>
         <li><a href="/customers/">Customers</a></li>
         <li><a href="/projects/">Projects</a></li>
         <li><a href="/careers/">Careers</a></li>
         <li><a href="/contact/">Contact</a></li>			
       </ul> 
     </nav>
     
     </div> <!-- naver row --->
